@model IEnumerable<WebApp.ClienteService.ClienteContract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

    <a href="@Url.Action("Create")" class="btn btn-success">Registrar Nuevo</a>
    
</p>
<table class="table" id="ClienteTable">
    <thead>
        <tr>
            <th>
                APELLIDOS
            </th>
            <th>
                CODIGO
            </th>
            <th>
                DNI
            </th>
            <th>
                DIRECCION
            </th>
            <th>
                EMAIL
            </th>
            <th>
                NOMBRES
            </th>
            <th>
                RAZONSOCIAL
            </th>
            <th>
                TELEFONO
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>

                <td>
                    <a href="@Url.Action("Edit", new {  id=item.Codigo })" class="btn btn-warning btn-xs">Editar</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
<script type="text/javascript">
    $(document).ready(function() {
        $("#ClienteTable").DataTable();
    });

</script>    
}
