<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Starter</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


    <link href="~/admin-lte/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/admin-lte/css/skins/_all-skins.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" />
</head>

<body class="hold-transition skin-red sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">FURUKAWA</span>
            </a>

            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                     
                        <li>
                            <a href="@Url.Action("Logout","Acceso")" ><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesion</a>
                        </li>
                    </ul>
                </div>
            </nav>



        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">MENU PRINCIPAL</li>
                    <li class="active"><a href="@Url.Action("Index","Clientes")"><i class="fa fa-user"></i> <span>Clientes</span></a></li>
                    <li class="active"><a href="@Url.Action("Index","Productos")"><i class="fa fa-cubes"></i> <span>Productos</span></a></li>
                    <li class="active"><a href="@Url.Action("Index","Pedidos")"><i class="fa fa-location-arrow"></i> <span>Pedidos</span></a></li>
                    <li class="active"><a href="@Url.Action("Index","Usuario")"><i class="fa fa-key"></i> <span>Cambio de Contraseña</span></a></li>
                </ul>
            </section>
        </aside>

        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            Copyright &copy; 2016 Proyecto UPC.
        </footer>

       
        <div class="control-sidebar-bg"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/admin-lte/js/app.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#TableList").DataTable({
                "sDom": 'rt<"bottom"p><"clear">'
            });
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
